#nav {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
  position: fixed;
  top: 0;
  width: 98%;
}

#content-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding-top: 2em;
  margin-top: 3em;
}

#video-section {
  width: 60%;
}

#side-bar {
  width: 30%;
}

#logo {
  width: 100px;
  height: 40px;
}

#search-button {
  width: 50px;
  height: 28px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 1em;
}

.main-avatar {
  width: 35px;
  height: 35px;
}

#search-section {
  width: 60%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 0.3em;
}

#search-box {
  width: 80%;
  height: 22px;
  border-end-end-radius: 0px;
}

#nav-icons {
  margin-top: 1px;
}

#searh-icon {
  width: 15px;
  height: 15px;
  margin-top: 6px;
}

#views {
  color: lightslategrey;
}

.like-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
  top: 14px;
}

.video-info {
  display: flex;
  flex-direction: row;
}

#owner-avatar {
  width: 50px;
  height: 50px;
}

#subscribe-button {
  width: 110px;
  height: 35px;
  background-color: #cc0000;
  color: #fff;
  border-color: #cc0000;
  border-radius: 0.2em;
}

#like-icon {
  margin-left: auto;
}

.side-images {
  width: 50%;
  height: 8em;
  margin: 1em;
  margin-left: -2em;
}

.side-image-div {
  display: flex;
  flex-direction: row;
}

#next-video {
  margin-left: -2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h5 {
  margin: 0em;
}

h4 {
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}
